@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");
@font-face {
  font-family: 'Jua';
  src: url('fonts/Jua/Jua-Regular.ttf') format('truetype');
}
body {
  margin: 0;
  line-height: 1.5;
  background-color: #f3f2f1;
}

body,
input,
textarea,
button {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  
}

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 1170px; /*내용 너비를 특정 범위로 제한*/
  margin: auto;
}

.row {
  display: flex; /*float,position과 함께 요소에 대해 생성되는 상자 유형 결정*/
  flex-wrap: wrap; /*정렬된 요소들의 총 넓이가 부모 넓이 보다 클 때, 이 요소들을 다음 줄에 이어서 정렬*/
}
/*현재 라인 주축을 따라 플렉스 항목을 정렬*/
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
/* @keyframes : CSS 애니메이션 sequence 내 중간 단계의 양상을 설명 */
@keyframes ani01 {
  0% {
    /* transform:요소에 회전, 크기 조절, 기울이기, 이동 효과를 부여 */
    /* deg: 각이 음수면 반시계방향으로 회전. 0%와 100% 2가지로 반복회전 */
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.section-title{
  flex:0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
  padding:0 15px;
}
.section-title h1{
  display: inline-block;
  font-size: 40px;
  color:#000000;
  font-weight: 700;
  margin:0;
  position: relative;
}
/* 원본 요소의 실제 내용 바로 앞에 있는 스타일링 가능한 하위 유사 요소를 나타냄 */
.section-title h1::before{
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 80px;
  height: 3px;
  background-color: #ff9800;
}
.btn-01{
  background-color: #ff9800;
  color: #ffffff;
  border: 2px solid transparent;
  padding: 10px 35px;
  border-radius: 30px;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  transition: all 0.5s ease;
}
.btn-01:hover{
  background-color: transparent;
  border-color: #ff9800;
  color: #ff9800;
}

.btn-01:focus{
  outline: none;
}

/*Header*/
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
.header .brand-name {
  /* background-color: red; */
  padding: 0 15px;
}
.header .brand-name a {
  /* background-color: red; */
  text-decoration: none;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900; /*폰트굵기*/
  letter-spacing: 2px; /*자간 조정*/
}

.header .nav {
  /* background-color: gray; */
  padding: 0 15px;
}
.header .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .nav ul li {
  display: inline-block;
  margin-left: 30;
}
.header .nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding: 25px 0;
  display: block; /*기본적으로 width 가 자신의 컨테이너의 100% 가 되게 한다. (가로 한 줄을 다 차지)*/
  transition: all 0.5s ease; /*ease는 transition 속도 조절*/
}
.header .nav ul li a:hover {
  color: #ff9800;
}

/* home section */
.home-section {
  min-height: 100vh; /*높이 같의 1/100 ex)브라우저 높이값이 900px일 때 1vh는 9px */
  background-image: url("image/me.jpg");
  background-size: cover;
  background-position: center;
  /*위치 지정 요소와, 그 자손 또는 하위 플렉스 아이템의 Z축 순서를 지정. 더 큰 z-index 값을 가진 요소가 작은 값의 요소 위를 덮는다*/
  position: relative;
  z-index: 1;
  padding: 0 15px;
}
.home-section:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.7;
  z-index: -1;
}
.home-section .shape-01 {
  position: absolute;
  height: 30px;
  width: 30px;
  border: 2px solid #ff9800;
  right: 5%;
  top: 20%;
  /* linear: 애니메이션 효과가 처음부터 끝까지 일정한 속도로 진행 
  infinite: 애니메이션 무한반복 
  ease : 기본값. 애니메이션 효과가 천천히 시작되어, 그다음에는 빨라지고, 마지막에는 다시 느려짐
  ease-in : 애니메이션 효과가 천천히 시작
  ease-out : 애니메이션 효과가 천천히 끝남
  ease-in-out : 애니메이션 효과가 천천히 시작되어, 천천히 끝남*/
  animation: ani01 5s linear infinite;
}
.home-section .row {
  min-height: 100vh;
  opacity: 1;
}
.home-section .home-content {
  /* background-color: red; */
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}
.home-section .home-content h4 {
  font-size: 20px;
  color: #ffffff;
  margin: 0;
}
.home-section .home-content h1 {
  font-size: 40px;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 10px;
}

.home-section .scroll-down {
  position: absolute;
  left: 50%;
  bottom: 30px;
  height: 30px;
  width: 30px;
  margin-left: -15px;
  animation: scrollDown 2s ease infinite;
}
@keyframes scrollDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
.home-section .scroll-down img {
  width: 25px;
  display: block;
  margin: 2px auto;
}

/* about section */
.about-section{
  padding: 80px 0 0;
}
.about-section .about-img{
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0 15px;
}
.about-section .about-img .img-box{
  position: relative;
}
.about-section .about-img .img-box .shape-02 {
  position: absolute;
  height: 30px;
  width: 30px;
  border: 2px solid #ff9800;
  left: 30px;
  top: 30px;
  animation: ani01 5s linear infinite;
}
.about-section .about-img .img-box img{
  width: 100%;
  display: block;
}
.about-section .about-content{
  flex:0 0 66.66%;
  max-width: 66.66%;
  padding: 0 15px;
}
.about-section .about-content{
  margin-bottom: 30px;
}
.about-section .about-content p{
  font-family: 'Jua';
  font-size: 16px;
  color: #555555;
  line-height: 26px;
  margin: 0;
}
.about-section .about-content .stats .stat-box{
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
  text-align: center;
  margin-top: 30px;
}
.about-section .about-content .stats .stat-box h2{
  font-size: 40px;
  color: #000000;
  margin: 0 0 5px;
}
.about-section .about-content .stats .stat-box h5{
  font-size: 16px;
  color: #555555;
  font-weight: 600;
  text-transform: uppercase;
}
.about-section .about-content .btn{
  margin-top: 30px;
}

/* Tech Section */
.skills-section{
  padding: 80px 0 80px;
}
.skills-section .typeOfSkills{
  flex:0 0 33.33%;
  max-width: 33.33%;
  padding:0 15px;
  margin-top: 30px;
}
.skills-section .typeOfSkillsInner{
  position: relative;
}
.skills-section .typeOfSkillsInner img{
  width: 100%;
  display: block;
  transition: all 0.5s ease;
}
.skills-section .typeOfSkillsInner:hover img{
  filter: grayscale(0);
  transform: scale(1.1);
}
.skills-section .typeOfSkillsInner .overlay{
  /* position: absolute; */
  /* left: 0; */
  /* top: 0; */
  height: 100%;
  width: 100%;
  /* background-color: red; */
  opacity: 0.6;
  text-align: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.skills-section .typeOfSkillsInner .overlay h4{
  font-size: 20px;
  margin: 0;
  transition: all 0.5s ease;
}
